<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Manladag viewver</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <ul>
            <% mangas.forEach(e => {%>
                <li><a target="blank" href="<%= e.serverUrl %>"><%= `${e.name} n°${e.chapter}` %></a></li>
            <% }) %>
        </ul>
        
    </body>
</html>