<!DOCTYPE html>
  <head>
        <title><%= webpackConfig.mode === 'production' ? 'MANLADAG - UI' : ' MANLADAG -- DEVELOPMENT' %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= htmlWebpackPlugin.tags.headTags %>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
      <style>
            .body {
                  font-family: 'Nerko One', serif
            }
            </style>
  </head>
  <body>
        <div id="app"></div>
        <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>